body {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0;
  padding: 1px;
  .header_container {
    h1 {
      text-align: center;
      color: blue;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.container {
  margin: auto;
  max-width: 1300px;
  width: 100%;
}

.top {
  display: flex;
  border-radius: 12px;
  .title_forms {
    width: 50%;
    h1 {
      text-align: center;
    }
  }
  .title_data {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    p {
      font-size: 22px;
    }
  }
}

.parent_section {
  display: flex;

  .forms {
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border: none;

    width: 50%;
    form {
      display: flex;
      flex-direction: column;
      padding-left: 20px;

      .form_texts {
        font-size: 20px;
        font-weight: 900;
        font-family: Geneva;
      }
      input {
        width: 400px;
        height: 20px;
      }
      select {
        width: 400px;
        height: 20px;
      }
      button {
        width: 120px;
        padding: 8px;
        margin-left: 47%;
        margin-top: 20px;
        background-color: blue;
        border-radius: 12px;
        border: none;
        font-size: 18px;
        font-weight: 800;
        color: white;
        &:hover {
          background-color: rgb(50, 50, 189);
          cursor: pointer;
          transition: 1s;
        }
      }
    }
  }
  .data {
    width: 50%;
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border: none;
    .user-card {
      width: 90%;
      margin: auto;
      display: flex;
      margin-bottom: 4px;
      justify-content: space-evenly;
      max-height: 80px;
      height: 100%;
      padding: 5px;
      background-color: #ffeeee;
      border-radius: 8px;
      p {
        font-size: 22px;
        text-align: center;
        font-weight: 700;
      }
      .data-p {
        min-height: 50px;
        max-height: 50px;
        height: 100%;
        border-radius: 8px;
        padding-top: 10px;
      }
      .data-p:first-child {
        min-width: 170px;
        max-width: 170px;
        width: 100%;
        background-color: red;
      }

      .data-p:nth-child(2) {
        min-width: 40px;
        max-width: 40px;
        width: 100%;
        background-color: green;
      }
      .data-p:nth-child(3) {
        min-width: 130px;
        max-width: 130px;
        width: 100%;
        background-color: gray;
        margin-left: 10px;
      }
      .data-p:nth-child(4) {
        min-width: 100px;
        max-width: 100px;
        width: 100%;
        background-color: blue;
      }
      .data-p:nth-child(5) {
        min-width: 100px;
        max-width: 100px;
        width: 100%;
        background-color: yellow;
      }
    }
  }
}
